---
http_interactions:
- request:
    method: post
    uri: https://sandbox.synapsepay.com/api/v3/node/verify
    body:
      encoding: UTF-8
      string: '{"login":{"oauth_key":"x3XV8mJOIL7ldIk3mwgeVBUdpxV9CakMcjhltqnH"},"user":{"fingerprint":"suasusau21324redakufejfjsf"},"node":{"_id":{"$oid":"560cda5686c27325b2ecf372"},"verify":{"micro":[0.1,0.1]}}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"error_code": "0", "http_code": "200", "nodes": [{"_id": {"$oid":
        "560cda5686c27325b2ecf372"}, "allowed": "CREDIT-AND-DEBIT", "extra": {"supp_id":
        null}, "info": {"account_num": "7443", "class": "CHECKING", "name_on_account":
        "Sankaet Pathak", "nickname": "Savings Account", "routing_num": "0017", "type":
        "PERSONAL"}, "is_active": true, "type": "ACH-US"}], "success": true}'
  recorded_at: Mon, 16 Nov 2015 17:21:12 GMT
recorded_with: VCR 2.9.3
