---
http_interactions:
- request:
    method: post
    uri: https://sandbox.synapsepay.com/api/v3/user/create
    body:
      encoding: UTF-8
      string: '{"logins":[{"email":"test@domain.com","password":"123456","read_only":false}],"phone_numbers":["123-456-789"],"legal_names":["Test
        User"],"fingerprints":[{"fingerprint":"suasusau21324redakufejfjsf"}],"ips":["192.168.0.1"],"client":{"client_id":"e3f19e4bd4022c86e7f2","client_secret":"11c94ba6bad74d24a0158bc707f0fc19a86dc08f"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"error_code": "0", "http_code": "200", "oauth": {"expires_at": "1447701675",
        "expires_in": "7200", "oauth_key": "oauth-15791401-ee71-48c7-8888-feee1caf6d46",
        "refresh_expires_in": 19, "refresh_token": "refresh-11c1af35-c025-43ae-a892-3edf99b1626f"},
        "success": true, "user": {"_id": {"$oid": "564a108b86c273715c59006b"}, "client":
        {"id": 844, "name": "SynapsePay*Sandbox"}, "doc_status": {"physical_doc":
        "MISSING|INVALID", "virtual_doc": "MISSING|INVALID"}, "extra": {"date_joined":
        {"$date": 1447694474807}, "extra_security": true, "is_business": false, "supp_id":
        null}, "is_hidden": false, "legal_names": ["Test User"], "logins": [{"email":
        "test@domain.com", "read_only": false}], "permission": "UNVERIFIED", "phone_numbers":
        ["123-456-789"], "photos": [], "refresh_token": "refresh-11c1af35-c025-43ae-a892-3edf99b1626f"}}'
  recorded_at: Mon, 16 Nov 2015 17:21:15 GMT
recorded_with: VCR 2.9.3
