---
http_interactions:
- request:
    method: post
    uri: https://sandbox.synapsepay.com/api/v3/user/create
    body:
      encoding: UTF-8
      string: '{"logins":[{"email":"test@domain.com","password":"123456","read_only":false}],"phone_numbers":["123-456-789"],"legal_names":["Test
        User"],"fingerprints":[{"fingerprint":"suasusau21324redakufejfjsf"}],"ips":["192.168.0.1"],"client":{"client_id":"e3f19e4bd4022c86e7f2","client_secret":"11c94ba6bad74d24a0158bc707f0fc19a86dc08f"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"error_code": "0", "http_code": "200", "oauth": {"expires_at": "1448780794",
        "expires_in": "5184000", "oauth_key": "9XrejAkBmzYpBwgKMigK8peO3ADXRyEdkE26i6Ct",
        "refresh_token": "mORJPReZeOGBFH9QfqotwHyD3jmF1oPMlZJAlPlc"}, "success": true,
        "user": {"_id": {"$oid": "560b89fa86c27328e47e7c32"}, "client": {"id": 844,
        "name": "SynapsePay*Sandbox"}, "extra": {"date_joined": {"$date": 1443596793356},
        "is_business": null, "supp_id": null}, "is_hidden": false, "legal_names":
        ["Test User"], "logins": [{"email": "test@domain.com", "read_only": false}],
        "permission": "UNVERIFIED", "phone_numbers": ["123-456-789"], "photos": []}}'
  recorded_at: Wed, 30 Sep 2015 07:06:34 GMT
recorded_with: VCR 2.9.3
