---
http_interactions:
- request:
    method: post
    uri: https://sandbox.synapsepay.com/api/v3/user/doc/add
    body:
      encoding: UTF-8
      string: '{"login":{"oauth_key":"x3XV8mJOIL7ldIk3mwgeVBUdpxV9CakMcjhltqnH"},"user":{"doc":{"birth_day":4,"birth_month":2,"birth_year":1940,"name_first":"John","name_last":"doe","address_street1":"1
        Infinate Loop","address_postal_code":"95014","address_country_code":"US","document_value":"3333","document_type":"SSN"},"fingerprint":"suasusau21324redakufejfjsf"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 202
      message: ACCEPTED
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"error_code": "10", "http_code": "202", "message": {"en": "Document
        information submitted. Please answer the attached KBA questions."}, "question_set":
        {"created_at": 1447694469, "expired": false, "id": "564a108566393300030004d6",
        "livemode": false, "object": "question_set", "person_id": "564a108566393300030004d5",
        "questions": [{"answers": [{"answer": "Cecilia", "id": 1}, {"answer": "Nathan",
        "id": 2}, {"answer": "Jose", "id": 3}, {"answer": "Nicole", "id": 4}, {"answer":
        "None Of The Above", "id": 5}], "id": 1, "question": "Which one of the following
        adult individuals is most closely associated with you?"}, {"answers": [{"answer":
        "Oregon", "id": 1}, {"answer": "Delaware", "id": 2}, {"answer": "Maine", "id":
        3}, {"answer": "Kentucky", "id": 4}, {"answer": "None Of The Above", "id":
        5}], "id": 2, "question": "What state was your SSN issued in?"}, {"answers":
        [{"answer": "605", "id": 1}, {"answer": "336", "id": 2}, {"answer": "812",
        "id": 3}, {"answer": "870", "id": 4}, {"answer": "None Of The Above", "id":
        5}], "id": 3, "question": "Which one of the following area codes is associated
        with you?"}, {"answers": [{"answer": "Jasper", "id": 1}, {"answer": "El Paso",
        "id": 2}, {"answer": "Boone", "id": 3}, {"answer": "Sangamon", "id": 4}, {"answer":
        "None Of The Above", "id": 5}], "id": 4, "question": "Which one of the following
        counties is associated with you?"}, {"answers": [{"answer": "123 Main St",
        "id": 1}, {"answer": "863 Carelton", "id": 2}, {"answer": "309 Colver Rd",
        "id": 3}, {"answer": "467 Meridian Rd", "id": 4}, {"answer": "None Of The
        Above", "id": 5}], "id": 5, "question": "Which one of the following addresses
        is associated with you?"}], "score": null, "time_limit": 0, "updated_at":
        1447694469}, "success": true}'
  recorded_at: Mon, 16 Nov 2015 17:21:10 GMT
recorded_with: VCR 2.9.3
