---
http_interactions:
- request:
    method: post
    uri: https://sandbox.synapsepay.com/api/v3/user/doc/add
    body:
      encoding: UTF-8
      string: '{"login":{"oauth_key":"x3XV8mJOIL7ldIk3mwgeVBUdpxV9CakMcjhltqnH"},"user":{"doc":{"birth_day":4,"birth_month":2,"birth_year":1940,"name_first":"John","name_last":"doe","address_street1":"1
        Infinate Loop","address_postal_code":"95014","address_country_code":"US","document_value":"2222","document_type":"SSN"},"fingerprint":"suasusau21324redakufejfjsf"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"error_code": "0", "http_code": "200", "message": {"en": "Document
        information verified."}, "success": true, "user": {"_id": {"$oid": "560c34f586c273242bb9f6c0"},
        "client": {"id": 844, "name": "SynapsePay*Sandbox"}, "doc_status": {"physical_doc":
        "SUBMITTED|VALID", "virtual_doc": "SUBMITTED|VALID"}, "extra": {"date_joined":
        {"$date": 1443640565537}, "extra_security": true, "is_business": false, "supp_id":
        "122eddfgbeafrfvbbb"}, "is_hidden": false, "legal_names": ["Test User"], "logins":
        [{"email": "test1@synapsepay.com", "read_only": false}], "permission": "RECEIVE",
        "phone_numbers": ["901.111.1111"], "photos": [], "refresh_token": null}}'
  recorded_at: Mon, 16 Nov 2015 17:21:06 GMT
recorded_with: VCR 2.9.3
